@import url(panchang.css);
*{
    margin:0;
    top: 0;
    text-decoration: none;
    list-style: none;
    font-family: Panchang-Variable;
    font-weight: 200 800;
}

:root{background-color: whitesmoke;}

.bg-red{background-color: red;}
.bg-smoke{background-color: whitesmoke;}
.text-red{color: red;}
.text-whitesmoke{color: whitesmoke;}

.flexbox{display: flex;}
.flexCollum{flex-direction: column;}
.flexRow{flex-direction: row;}
.contentCenter{justify-content:center ;}
.contentBetween{justify-content: space-between;}
.itemsCenter{align-items: center;}

.width90{width: 90dvw;}
.height100{height: 100dvh;}
.marginTop10{margin-top: 10dvh;}

.side{
    width: 5dvw;
    height: 100%;
    background-color: aqua;
}
nav{
    position: fixed;
    width: 100dvw;
}

.navMiddle{
    width: 90dvw;
    height: 10dvh;
    display: flex;
}
.logo{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navOptions{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hero-content{
    text-justify:distribute-all-lines;
}
.play-content{
}
.services-content{
}
.contact-content{
}
@media only screen and (max-width: 720px) {
    .navMiddle{
        flex-direction: column;
    }
    .logo{
        width: 100%;
        justify-content: flex-start;
        height: 50%;
    }
    .navOptions{
        width: 100%;
        height: 50%;
    }
}